CF_ACCOUNT_ID=your-account-id
CF_D1_DATABASE_ID=your-d1-database-id
CF_D1_API_TOKEN=your-d1-http-api-token
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOLE_CALENDAR_API_KEY=
GOOGLE_CALENDAR_ID=
RETENTION_DAYS = 1095